registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
@engage-ui:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/
@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
@assets:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@assets-v3:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@aemforms:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/